*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body
{
    position: absolute;
    background-color: rgb(247, 255, 137);
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.note
{
    height: 500px;
    width: 500px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    background-color: rgb(255, 199, 114);
    border-radius: 20px;
    padding: 20px;
}
.to-do-item
{
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 42px auto 42px;
    column-gap: 5px;
}
.check-box
{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 163, 43);
}
.content
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 5px;
}
.add-bt
{
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: antiquewhite;
}
.btn-danger
{
    height: 20px;
    width: 40px;
}